* {
		box-sizing: border-box;
	}
	body {
		background-color: #9E8851;
	}
	h1 {
		margin: 100px;
		text-align: center;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 175%;
	}
	section {
		position: relative;
		padding: 15px;
		width: 100%;
	}
	p {
		position: relative;
		clear: right;
	}
	div {
		position: relative;
		background-color: #BF7F3F;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.sub {
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: #B0D619;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: #BF7F3F;
		font-family: Helvetica;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
	}
	
	.row {
		width: 90%;
	}

	* {
		box-sizing: border-box;
	}
	body {
		background-color: #9E8851;
	}
	h1 {
		margin: 100px;
		text-align: center;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 175%;
	}
	section {
		position: relative;
		padding: 15px;
		width: 100%;
	}
	p {
		position: relative;
		clear: right;
	}
	div {
		position: relative;
		background-color: #BF7F3F;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.sub {
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: #B0D619;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: #BF7F3F;
		font-family: Helvetica;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
	}
	
	.row {
		width: 90%;
	}
	
	/*desktop version*/
	@media (min-width: 992px){
		.column-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.colmn-md-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.colmn-md-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.colmn-sm-12 {
			float: left;
			width: 100%;
		}
	}
